


<h1>Edit your quote!</h1>

<form method="POST" action="/posts/<%= @post.id %>">

  Character: <input type="text" name="character"><br />
  Quote:<textarea name="quote"></textarea><br />
  <input type="submit">
</form>